<p><%= link_to "New Discussion", :action => "new" %></p>
<table id="showentry">
<tr class="showhead"><td width="40%">Title</td><td width="20%">Author</td><td width="20%">Posted at</td><td width="20%">Reply</td></tr>
<% for d in @discussions -%>
<tr><td><%= link_to h(d.title), :action => "show", :id => d.id %></td><td><%=h d.user.login %></td><td><%= d.created_at.strftime("%Y/%m/%d %H:%M") %></td><td><%= d.replies.count %></td></tr>
<% end -%>
</table>
<%= will_paginate @discussions %>
