<div class="form">
<fieldset>
<legend>Discussion</legend>
<%= error_messages_for :discussion -%>
<% form_for :discussion, :url => {:action => "new"} do |f| -%>
<p><label for="discussion_title">Title:</label><%= f.text_field :title %></p>
<p><label for="discussion_body">Body:</label><%= f.text_area :body, :rows => 10 %></p>
<p style="margin-left: 10em;"><%= submit_tag 'New Dicussion' %></p>
<% end -%>
</fieldset>
</div>
