<table id="showentry">
<tr><td class="showhead" colspan=2>Title: <%=h @discussion.title %></td></tr>
<tr><td class="showwhite" width="50%">Started by: <%=h @discussion.user.login %></td><td width="50%">Started from: <%=h @discussion.created_at.strftime("%Y/%m/%d %H:%M") %><td></tr>
<tr><td colspan=2><%= simple_format(h(@discussion.body)) %></td></tr>
<tr><td class="showhead" colspan=2><%= @discussion.replies.count %> reply(s)</td></tr>
</table>
<%= render :partial => "shared/comment", :collection => @discussion.replies %>
<p>
<div class="form">
<fieldset>
<legend>Reply</legend>
<%= error_messages_for :reply -%>
<% form_for :reply, :url => {:action => "reply", :id => params[:id]} do |f| -%>
<p><%= f.text_area :body, :rows => 5 %></p>
<p><%= submit_tag 'Reply!' %></p>
<% end -%>
</fieldset>
</div>
</p>
