<div class="form">
<fieldset>
<legend>Edit Category</legend>
<% form_tag :action => 'edit', :id => params[:id]  do %>
  <%= error_messages_for 'category' %>
  <p><label for="entry_name">Name</label>
  <%= text_field 'entry', 'name'  %></p>
  <p><label for="entry_description">Description</label>
  <%= text_area 'entry', 'description' %></p>
  <p><label for="entry_tag_list">Tag</label>
  <%= text_field 'entry', 'tag_list'  %></p>
  <p><label for="entry_category_id">Category</label>
  <%= collection_select(:entry, :category_id, @all_categories, :id, :long_name) %></p>
  <p style="margin-left: 10em;"><%= submit_tag "Edit" %></p>
<% end %>
</fieldset>
<div>

<%= link_to 'Back', :action => 'list' %>
