<div class="form">
<fieldset>
<legend>Upload file</legend>
<%= error_messages_for("entry") %>
<% form_for :entry, :url => { :action => 'save' }, :html => { :multipart => true, :id => 'upload' } do |form| %>
  <p><label for="upload_file">Upload file:</label>
  <%= form.file_field "uploaded_file" %></p>
  <p><label for="entry_description">Description:</label>
  <%= text_area "entry", "description", :rows => 10 %></p>
  <p><label for="entry_tag_list">Tag:</label>
  <%= text_field "entry", "tag_list" %></p>
  <p><label for="category">Categories:</label>
  <%= collection_select :entry, :category_id, @all_categories, :id, :long_name %>
  <p style="margin-left: 10em;"><%= submit_tag "Upload File" %></p>
<% end %>
</fieldset>
<div>
