<h1><%=h @entry.name %></h1>
<%= render :partial => "shared/table", :object => @entry %>
<table id="showentry">
<tr><td class="showhead">Description</td></tr>
<tr><td><%= simple_format(h @entry.description) %></td></tr>
<tr colspan="2"><td class="showhead"><%= @entry.comments.count %> comment(s)</td></tr>
</table>
<%= render :partial => "shared/comment", :collection => @entry.comments %>
<p>
<div class="form">
<fieldset>
<legend>Comment</legend>
<%= error_messages_for :comment -%>
<% form_for :comment, :url => {:action => "comment", :id => params[:id]} do |f| -%>
<p><%= f.text_area :body, :rows => 5 %></p>
<p><%= submit_tag 'Comment!' %></p>
<% end -%>
</fieldset>
</div>
</p>
