body { background-color: #fff; color: #333; }

body, p, ol, ul, td {
  font-family: verdana, arial, helvetica, sans-serif;
  font-size:   13px;
  line-height: 18px;
}

pre {
  background-color: #eee;
  padding: 10px;
  font-size: 11px;
}

a { color: #000; text-decoration: none;}
a:visited { color: #666; }
a:hover { color: #000; background-color:#b3d0eb; font-weight: bold;}

.fieldWithErrors {
  padding: 2px;
  background-color: red;
  display: table;
}

#errorExplanation {
  width: 400px;
  border: 2px solid red;
  padding: 7px;
  padding-bottom: 12px;
  margin-bottom: 20px;
  background-color: #f0f0f0;
}

#errorExplanation h2 {
  text-align: left;
  font-weight: bold;
  padding: 5px 5px 5px 15px;
  font-size: 12px;
  margin: -7px;
  background-color: #c00;
  color: #fff;
}

#errorExplanation p {
  color: #333;
  margin-bottom: 0;
  padding: 5px;
}

#errorExplanation ul li {
  font-size: 12px;
  list-style: square;
}

.form fieldset {
  background: #efe;
  margin-right: auto;
  margin-left: auto;
}

.form legend {
  color: #dfd;
  background: #12123D;
  font-family: sans-serif;
  padding: 0.2em 1em;
}

.form label {
  width: 10em;
  float: left;
  text-align: right;
  margin-right: 0.5em;
  display: block;
}

.form .submit {
  margin-left: 5em;
}

#notice {
  padding: 1em;
  margin-bottom: 2em;
  background-color: #12123D;
  font: bold small sans-serif;
  color: white;
}

#columns {
  background: #12123D;
}

#main {
  margin-left: 15em;
  padding-left: 2em;
  padding-top: 4ex;
  background: white;
}

#side {
  float: left;
  padding-top: 1em;
  padding-left: 1em;
  padding-bottom: 1em;
  width: 14em;
  background: #12123D;
}

#side a {
  text-decoration: none;
  color: #bfb;
  font-size: small;
}

#side a:hover{
  color: #000;
}

h1 {
  font: 150% sans-serif;
  color: #226;
  border-bottom: 1px #226 solid;

}

#showentry {
  background-color: #add8e6;
  width: 100%;
}

#showtag {
  font: 110% sans-serif bold;
  color: #226;
}

.showhead {
  font: 110% sans-serif bold;
  color: white;
  background-color: #12123D;
  width: 100%;
}

.showhead a {
  text-decoration: none;
  color: white;
  font: bold;
}

.showhead a:hover {
  color: black;
}

.showwhite {
  background-color: white;
}

#list-table {
  border-collapse: collapse;
}

#list-tdbar {
  padding-right: 20px;
  border-bottom: solid;
  margin-right: 0;
}

#list-td {
  padding-right: 20px;
}

#list-tdright {
  padding-right: 10px;
  border-right: solid;
  border-right-width: 1px;
}

#list-right {
  padding-left: 5px;
}

#placeholder {
  margin-left: auto;
  margin-right: auto;
  width: 900px;
}

div.pagination {
	padding: 3px;
	margin: 3px;
}

div.pagination a {
	padding: 2px 5px 2px 5px;
	margin: 2px;
	border: 1px solid #AAAADD;
	
	text-decoration: none; /* no underline */
	color: #000099;
}

div.pagination a:hover, div.pagination a:active {
	border: 1px solid #000099;
	color: #000;
}

div.pagination span.current {
	padding: 2px 5px 2px 5px;
	margin: 2px;
	border: 1px solid #000099;
	
	font-weight: bold;
	background-color: #000099;
	color: #FFF;
}

div.pagination span.disabled {
	padding: 2px 5px 2px 5px;
	margin: 2px;
	border: 1px solid #EEE;

	color: #DDD;
}

.bar {
  width: 300px;
}

#progress {
  background: #eee;
  border: 1px solid #222;
}
#progressbar {
  width: 0px;
  height: 24px;
  background: #333;
}
