<table id="showentry">
<tr><td width="50%" class="showwhite"><span id="showtag">Commenter:</span> <%= link_to h(comment.user.login), :controller => 'list', :action => 'uploader', :id => comment.user.id %></td>
<td><span id="showtag">At:</span> <%= comment.created_at.strftime("%Y/%m/%d %H:%M") %></td></tr>
<tr><td colspan="2"><%= simple_format(h comment.body) %></td></tr>
</table>
