<p>
<table id="showentry">
<tr><td class="showhead" colspan="2">
<%= link_to h(table.name)+" (Click here to download)", :controller => 'upload', :action => 'download', :id => table %>
</td></tr><tr>

<td width="20%"><center><%= image_tag h(table.icon), :size => "100x100" %></center></td>
<td width="80%"><table id="detail" width="100%">
<tr><td width="50%" class="showwhite"><span id="showtag">Tags:</span> <%= table.tags.collect {|t| link_to t.name, :controller => "list", :action => "tag", :id => t.name}.join(', ') %></td>
<td width="50%"><span id="showtag">Category:</span> <%= link_to h(table.category.long_name), :controller => 'list', :action => 'category', :id => table.category.id %></td></tr>
<tr><td width="50%"><span id="showtag">Uploader:</span> <%= link_to h(table.user.login), :controller => 'list', :action => 'uploader', :id => table.user.id %></td>
<td width="50%" class="showwhite"><span id="showtag">Type:</span> <%=h table.content_type %></td></tr>
<tr><td width="50%" class="showwhite"><span id="showtag">Counter:</span> <%=h table.download_times %></td>
<td width="50%"><span id="showtag">Filesize:</span> <%=h table.size %></td></tr>
<tr><td width="50%"><span id="showtag">Comment:</span> <%=h table.comments.count %> comment(s)</td>
<td width="50%" class="showwhite"><span id="showtag">Updated at:</span> <%= table.updated_at.strftime("%Y/%m/%d %H:%M") %></td></tr>
<tr><td colspan="2">
<%= link_to 'Show', :controller => 'upload', :action => 'show', :id => table %>
<% if table.user == current_user -%>
<%= link_to 'Edit', :controller => 'upload', :action => 'edit', :id => table %>
<%= link_to 'Delete', {:controller => 'upload', :action => 'destroy', :id => table}, :confirm => 'Are you sure to delete?' %>
<% end -%>
</td></table></td></table></p>
