<div class="form">
<fieldset>
<legend>Login</legend>
<% form_tag do -%>
<p><label for="login">Login</label>
<%= text_field_tag 'login' %></p>

<p><label for="password">Password</label>
<%= password_field_tag 'password' %></p>

<p><label for="remember_me">Remember me:</label>
<%= check_box_tag 'remember_me' %></p>

<p style="margin-left: 10em;"><%= submit_tag 'Login' %></p>
<% end -%>
</fieldset>
</div>
