<%= error_messages_for 'category' %>
<!--[form:category]-->
<p><label for="category_name">Name</label>
<%= text_field 'category', 'name'  %></p>
<p><label for="category_parent_id">Parent Category</label>
<%= collection_select(:category, :parent_id, @all_categories, :id, :long_name) %></p>
<!--[eoform:category]-->

