<div class="form">
<fieldset>
<legend>Edit Category</legend>
<% form_tag :action => 'update', :id => params[:id]  do %>
  <%= render :partial => 'form' %>
  <p style="margin-left: 10em;"><%= submit_tag "Edit" %></p>
<% end %>
</fieldset>
<div>

<%= link_to 'Show', :action => 'show', :id => @category %> |
<%= link_to 'Back', :action => 'list' %>
