<h1>Listing categories</h1>

<table id="showentry">
  <tr class="showhead">
    <td>Name</td>
  </tr>  
<% for category in @all_categories %>
  <tr>
    <td<%= cycle('',' class="showwhite"') %> ><div sytle="float: left;"><%= link_to (h category.long_name), :controller => 'list', :action => 'category', :id => category %></div>
    <% if category.id != 1 -%>
    <div style="float: right;"><%= link_to 'Edit', :action => 'edit', :id => category %></div>
    <% end -%></td>
  </tr>
<% end %>
</table>
<br />
<%= link_to 'New category', :action => 'new' %>
