<div class="form">
<fieldset>
<legend>New Category</legend>
<% form_tag :action => 'create' do %>
  <%= render :partial => 'form' %>
  <p style="margin-left: 10em;"><%= submit_tag "Create" %></p>
<% end %>
</fieldset>
<div>

<%= link_to 'Back', :action => 'list' %>
