<h1>Files in category <%=h @category.name%></h1>
<table id="list-table">
  <%= render :partial => "shared/tbheader" %>
  <%= render :partial => "shared/table", :collection => @all_entries %>
</table>
<br />
<%= link_to 'Edit', :action => 'edit', :id => @category %> |
<%= link_to 'Back', :action => 'list' %>
