<h1>Listing Files &raquo; <%=h @toshow %></h1>
<% if @search -%>
<% form_tag url_for(:controller => 'list', :action => @search) do -%>
Search<%= " #{@search}" %>: <%= text_field_tag :keyword, params[:keyword] %>
<%= submit_tag "Go!" %>
<% end -%>
<% end -%>
<% if @entries.size > 0 -%>
<%= render :partial => "shared/table", :collection => @entries %>
<% elsif @newsearch -%>
<p>Please search!</p>
<% else -%>
<p>Sorry, there is no result.</p>
<% end -%>
<%= will_paginate @entries %>
