<div class="form">
<fieldset>
<legend>Edit Profile</legend>
<%= error_messages_for :user %>
<% form_for :user do |f| -%>
<p><label for="login">Login</label>
<%= current_user.login %></p>

<p><label for="email">Email</label>
<%= f.text_field :email %></p>

<p><label for="password">Password</label>
<%= f.password_field :password %></p>

<p><label for="password_confirmation">Confirm Password</label>
<%= f.password_field :password_confirmation %></p>

<p style="margin-left: 10em;"><%= submit_tag 'Edit' %></p>
<% end -%>
</fieldset>
<div>
