<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
       "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
  <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
  <title><%= controller.controller_name.capitalize %> &raquo; <%= controller.action_name.capitalize %></title>
  <%= stylesheet_link_tag 'scaffold' %>
  <%= javascript_include_tag 'jquery' %>
</head>
<body>
<div id="placeholder">
  <div id="columns">
    <div id="side">
      <p style="color: white;">Welcome! <%=h current_user.login %></p>
      <%= link_to "Upload Files", :controller => :upload, :action => :get %><br />
      <%= link_to "Discussion Board", :controller => :board, :action => :list %><br />
      <%= link_to "Manage categories", :controller => :categories, :action => :list %><br />
      <%= link_to "Search files", :controller => :list, :action => :show %><br />
      <%= link_to "Search uploader", :controller => :list, :action => :uploader %><br />
      <%= link_to "Search tag", :controller => :list, :action => :tag %><br />   
      <%= link_to "Profile", :controller => :profile, :action => :edit %><br />
      <%= link_to "Logout", :controller => :account, :action => :logout %><br />
    </div>
    <div id="main">
    <% if flash[:notice] -%>
      <div id="notice"><%= flash[:notice] %></div>
    <% end -%>
    <%= yield  %>
    </div>
  </div>
</div>
</body>
</html>
